
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link href="../static/images/favicon.ico" th:href="@{/images/top-key.png}" rel="icon" type="image/x-ico">
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic'>
    <link rel="stylesheet" href="../../static/css/pwdstyle.css" th:href="@{/css/pwdstyle.css}">
</head>
<body>
<!--/start-login-one-->
<div class="login-01">
    <div class="one-login  hvr-float-shadow">
        <div class="one-login-head">
            <img src="../../static/images/top-lock.png" th:src="@{/images/top-lock.png}" alt=""/>
            <h1>密码修改</h1>
            <span></span>
        </div>

        <form action="#" th:action="@{/admin/modify}" method="post">
            <input  type="text" class=" icon user" Name="username" placeholder="用户名" required="">
            <input  type="password" class=" icon lock" Name="oldPassword" placeholder="旧密码" required="">
            <input  type="password" class=" icon lock" Name="newPassword" placeholder="新密码" required="">
            <div class="submit">
                <input type="submit" value="确定">
            </div>
        </form>
        <div class="clear"></div>
    </div>
</div>

<div class="ui error mini message'"></div>
<div class="ui mini negative| message" th:unless=" ${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>


</body>
</html>
